/* FOOTER  */
.footer {
    background-color: rgb(0, 0, 0);
    color: #ffd736; 
    padding: 20px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    height: 150px;
    width: 100%;
}

.footer-section {
    display: flex;
    justify-content: left;
    align-items: center; 
}
.section:first-child{
    padding-left: 0;
}
.section:last-child{
    padding-right: 0;
}
.section {
    flex: 1;
    padding: 0 15px;
    text-align: left; 
}


.section h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.section img {
    display: block; 
    margin: 0 auto; 
    height: auto; 
    max-height: 40px; 
    margin-left: 40px; 
    margin-top: -45px;
}
/* Media query voor schermen met een maximale breedte van 767px (typisch mobiele apparaten) */
@media only screen and (max-width: 767px) {
    .footer {
        height: auto;
        position: relative;
        bottom: 0;
        width: 100%;
        background-color: rgba(22, 22, 21, 1);
        color: #ffd736;
        padding: 20px 0;
        text-align: center;
        overflow: hidden; /* Voorkom dat inhoud buiten de footer steekt */
    }

    .footer-section {
        flex-direction: column;
        text-align: center;
    }

    .section {
        width: 100%;
        margin-bottom: 20px;
    }

    .section img {
        max-width: 200px;
        margin-top: 0;
        padding-right: 20px;
        background-color: rgba(22, 22, 21, 1);
        /* padding: 10px; */
        margin-left: 5px;
        /* margin-bottom: 20px; */
    }
}

    /* Media query voor mobiele landscape-weergave */
    @media only screen and (min-width: 480px) and (max-width: 767px) {
        .footer-section {
            flex-direction: row;
        }
        .section {
            width: auto;
            margin-bottom: 0;
        }
    }