*{
    font-family: 'Arial Rounded MT';
    src: url('/fonts/ArialRoundedMTBold.eot');
    src: url('/fonts/ArialRoundedMTBold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/ArialRoundedMTBold.woff2') format('woff2'),
        url('/fonts/ArialRoundedMTBold.woff') format('woff'),
        url('/fonts/ArialRoundedMTBold.ttf') format('truetype'),
        url('/fonts/ArialRoundedMTBold.svg#ArialRoundedMTBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
font-family: 'Arial Rounded MT';
src: url('/fonts/ArialRoundedMTBold.eot');
src: url('/fonts/ArialRoundedMTBold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/ArialRoundedMTBold.woff2') format('woff2'),
    url('/fonts/ArialRoundedMTBold.woff') format('woff'),
    url('/fonts/ArialRoundedMTBold.ttf') format('truetype'),
    url('/fonts/ArialRoundedMTBold.svg#ArialRoundedMTBold') format('svg');
font-weight: bold;
font-style: normal;
font-display: swap;
}


/* p{
    color: rgba(199, 205, 205, 1);
    
} */
.section-banner p, .card-black p, .footer .section p{
    color: rgba(199, 205, 205, 1);
}

/* voorouders */
.row-voorouders{
    background-color: #000000;
    color: #ffffff; 
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 3px;
}

/* style row & cards */
.equal-height {
    display: flex;
    align-items: stretch;
    padding: 0 !important;
}

@media only screen and (min-width: 576px) {
    .equal-height .col-sm-5{
        padding-left: 0;
    }
    .equal-height .col-sm-7{
        padding-right: 0;
    }
}
.card-yellow{
    background-color: #ffd736;
    color: #000000 !important;
    border-radius: 5px;
    border: none;
    padding: 2em;
    margin-bottom: 0.8em; 
    }


.card-black a{

    color: #ffd736;
 

}

   .interest ul li a{

        color: #000 !important;
        text-decoration: none;
    }
    
    .interest ul li a :hover{
    
        color: #000 !important;
        text-decoration: underline dotted;
    }


.menu li a{

    border: 3px solid #ffd736;
    border-radius: 60px; 
    padding: 5px 30px; 
    background-color: #000; 
    color: #ffd736 important;  
    font-size: 16px; 
    font-weight: bold; 
    cursor: pointer;
    transition: background-color 0.3s ease;  


}

.menu li a:hover {
    background-color: #ffd736;
    color: #000;
}


ul li a{
 color: #000;
 text-decoration: none;
}

ul li a:hover{
    color: #000;
    text-decoration: underline;
}
   


.card-yellow li{
    list-style-image: url('../image/check-mark63.svg');
} 

.card-yellow ul {
list-style-type: none; /* Remove default bullet point */
padding-left: 0; /* Remove any padding */
}

.card-yellow li {
padding-left: 25px; /* Create space for the custom icon */
position: relative;
margin-top: 0.5em;
}

.card-yellow li::before {
content: '✓'; /* Add empty content */
font-weight: 600;
display: inline-block;
width: 20px; /* Set the width of your custom icon */
height: 20px; /* Set the height of your custom icon */
position: absolute;
left: 0;
}

.card-black{
    background-color: #161615;
    color: #ffffff;
    border-radius: 0;
    border: none;
    padding: 2em;
    border-radius: 3px;
}

.yellow-btn{
    * text-decoration: none;
    color: #000000;
    background-color: #ffd736;
    padding: 10px 35px;
    border-radius: 5px;
    display: block;
    align-items: center;
    text-align: center;
    border: solid #bfbd21 1px; *
}


  .yellow-btn:hover {
    background-color: #ffffff; /* Change color on hover */
  }
  



.komerbij-mobile{
    display: none;
}
.mailto{
    color: #151515;
}
@media only screen and (max-width: 767px) {
    .card-yellow{
        margin-bottom: 1em;
    }
    .row-voorouders{
        margin-left: 0.1em;
        margin-right: 0.1em;
    }
    .komerbij-desktop{
        display: none;
    }
    .komerbij-mobile{
        display: block;
        margin: 0 0.1em;
    }
    .komerbij-mobile .yellow-btn{
        margin-bottom: 4px;
    }
}

.col-sm-7 .row{
    margin-top: 1em;
}




/* Bovenste sectie met geletekst enzo */

.section-banner {
    background-color: rgba(22, 22, 21, 1);
    color: white;
    padding: 60px 0;
    margin-bottom: 30px;
    margin-top: -16px;
    /* width: 100%; */
    /* margin-right: -50px ; */
    text-align: left; /* Tekst links uitlijnen binnen de sectie */
}
.section-banner .div-banner{
    max-width: 800px;
}
.section-banner h1 {
    color: #ffd736;
    font-size: 35px;
    margin-bottom: 10px;
}

.section-banner p {
    color: rgba(199, 205, 205, 1);
    font-size: 18px;
    margin-bottom: 10px;
    line-height: 1.4;
}

@media (min-width: 1200px) {
    .section-banner .container {
    
    }
}

